h1 {
    color: black;
}

body {
    background: #d2cfcf;
    margin: 0px;

}



.beitrag {

    background-color: white;
    margin: 8px;
    box-shadow: 5px 5px 3px #888

}

.like {
    cursor: pointer;
    background: url("../img/like.svg") no-repeat center ;
    background-size: 100% 100% ;
    width: 45px;
    height: 20px;
}
.like.active{
    cursor: pointer;
    background: url("../img/black_like.svg") no-repeat center ;
    background-size: 100% 100% ;
    width: 45px;
    height: 20px;
}